body{
    background-color: lightcyan;
}

fieldset{
    size: 80px;
}

legend{
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
}

.datos{
    color: firebrick;
}

.tipo{
    color: blue;
}

.estilo{
    color: green;
}

.horario{
    color: black;
}

.cuadro{
    background-color: white;
}

.cuadro1{
    background-color: orange;
}

.cuadro2{
    background-color: cyan;
}

.cuadro3{
    background-color: greenyellow;
}

.cuadro4{
    background-color: red;
}