body{
    margin-left: 15%;
    margin-right: 15%;
}

.cabezera{
    color: black;
    border: 1px solid black;
    background-color: gray;
    width: 102.7%;
    height: 150px;
    top: 0%;
}

.img{
    width: 100%;
    height: 500px;
}


.logo{
    width: 145px;
    height: 115px;
}

.titulo h1{
    margin-top: -15px;
    margin-left: -80px;
    text-align: center;
    font-size: 5vw;
}

.divhome1{
    background-color: gray;
}

.h1m{ 
    background-image: linear-gradient(red, yellow);
    margin-bottom: 0px;
    width: 1140px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 54px;
}

.img3{
    width: 100%;
    height: 800px;
}

@media (max-width: 576px) and (max-heigth: 160px) {
    .titulo h1{
        font-size: 20px;
    }
}

/*Aqui empieza la img del logo*/

@import "lesshat";

.container1{   
  width: 200px;
  height: 200px;
  /*margin: 0 auto;*/
}

.div-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    .div-logo.hidden{
          overflow: hidden;
      }     
    .logo:hover{
        
            transform:scale(1);
            -ms-transform:scale(1); /* IE 9 */
            -moz-transform:scale(1); /* Firefox */
            -webkit-transform:scale(1); /* Safari and Chrome */
            -o-transform:scale(1); /* Opera*/
        }
.logo{
    display:block;
    margin-left: -30px;
    margin-right: auto;
    width: 100%;   
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox*/ 
    -webkit-transform:scale(1.2); /* Safari and Chrome*/ 
    -o-transform:scale(1.2); /* Opera */
    -webkit-transition: all 500ms ease-in-out; /* IE 9*/
    -moz-transition: all 500ms ease-in-out; /* Firefox*/
    -ms-transition: all 500ms ease-in-out; /* Safari and Chrome */
    -o-transition: all 500ms ease-in-out; /* Opera   */    
}   

/*Aqui acaba la img del logo*/

@font-face{
    font-family: Letra1;
    src: url(../letras/disney.otf);
}

#titulo{
    font-size: 160px;
    font-family: Letra1;
}